<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805216139458-k26ud1tm2eujmo4bp24q7bscppq7cqh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805216139458-k26ud1tm2eujmo4bp24q7bscppq7cqh6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0CdPtrvdfSF-5agQ31Q4Kepx6rz3YXK8</string>
	<key>GCM_SENDER_ID</key>
	<string>805216139458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.reactNativeMoviesAppForModsen</string>
	<key>PROJECT_ID</key>
	<string>modsen-movie</string>
	<key>STORAGE_BUCKET</key>
	<string>modsen-movie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805216139458:ios:d1d1cf22883880ebace35b</string>
</dict>
</plist>